.eventCard {
  border: 0.1rem solid rgb(209, 208, 208);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin: 2rem;
  padding: 1rem;
  text-align: left;
  line-height: 1.8;
  width: 22rem;
  background: var(--body-background);
  text-transform: capitalize;
  position: relative;
  transition: transform 0.3s;
}

.eventCard:hover {
  transform: var(--scale);
  cursor: pointer;
}
.time,
.location {
  display: flex;
  gap: 1rem;
  flex-wrap: flex-start;
}
.timeIcon,
.locationIcon {
  width: 1rem;
  height: 1rem;
  padding: 0.1rem;
  transform: translateY(40%);
}
