.eventDetail {
  text-align: left;
}
.sticky {
  width: 25rem;
}
.eventInfo {
  text-transform: capitalize;
  margin-block: 1rem;
}
.time,
.location {
  display: flex;
  gap: 1rem;
}
.timeIcon,
.locationIcon {
  transform: translateY(20%);
}
.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.weatherIcon {
  width: 5rem;
  height: 5rem;
  image-rendering: crisp-edges;
  object-fit: contain;
  padding: 0.3rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background: radial-gradient(
    circle at 30% 30%,
    #bc62fc,
    #616fff,
    #659ef5,
    #5f3df6,
    #000000
  );
}
.mapView {
  height: 20rem;
  width: 100%;
  z-index: -2;
}
.eventImage {
  margin-block: 1.5rem;
  width: 100%;
  object-fit: cover;
}
