.eventDetail {
  text-align: left;
  line-height: 1.8;
}
.sticky {
  width: 25rem;
}
.eventInfo {
  text-transform: capitalize;
  margin-block: 1rem;
}
.time,
.location {
  display: flex;
  gap: 1rem;
  line-height: 2.5;
  align-items: center;
}
.timeIcon,
.locationIcon {
  font-size: 1.5rem;
  transform: translateY(-15%);
}
.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-block: 1rem 2rem;
}
.iconWrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.iconWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 30% 30%,
    #bc62fc,
    #616fff,
    #659ef5,
    #5f3df6,
    #000000
  );
  border-radius: 1rem;
  z-index: -10;
  filter: blur(10px);
  opacity: 0.7;
}
.weatherIcon {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.mapView {
  height: 20rem;
  width: 100%;
  z-index: -2;
}
.eventImage {
  margin-block: 1.5rem;
  width: 100%;
  object-fit: cover;
}
.detail {
  margin-block: 1.5rem;
}
