.eventDetail {
  text-align: left;
  line-height: 1.8;
}
.sticky {
  width: 25rem;
}
.eventInfo {
  text-transform: capitalize;
  margin-block: 1rem;
}
.time,
.location {
  display: flex;
  gap: 1rem;
  line-height: 2.5;
  align-items: center;
}
.timeIcon,
.locationIcon {
  font-size: 1.5rem;
  transform: translateY(-15%);
}


.mapView {
  height: 20rem;
  width: 100%;
  z-index: -2;
}
.eventImage {
  margin-block: 1.5rem;
  width: 100%;
  object-fit: cover;
}
.detail {
  margin-block: 1.5rem;
}
